Framework/Appius.MOCompute.Services.Client.Prototype/Service References/LocationService/LocationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://proto.ctemo.appius.co.uk/Services/LocationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Appius.MOCompute.Services.Services.Entities" />
  <xs:element name="Noop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NoopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoopResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Appius.MOCompute.Services.Services.Entities" minOccurs="0" name="ListAllResult" nillable="true" type="q1:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlphaCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Appius.MOCompute.Services.Services.Entities" minOccurs="0" name="ListResult" nillable="true" type="q2:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>